.self__slider {
    width: 803px;
    height: 533px;
    display: flex;
    overflow-x: hidden;
    position: relative;
    padding-top: 100px;
}

@media screen and (max-width: 1320px) {
    .self__slider {
        width: 600px;
        height: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .self__slider {
        width: 100%;
        height: 450px;
    }
}