.faq__item-text {
    @include paragraph-big;
    font-weight: 300;
    color: $secondaryColor;
    height: 0px;
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 700px) {
    .faq__item-text {
        @include paragraph-small;
    }
}