.self__slider-arrow {
    position: absolute;
    width: 107px;
    height: 82px;
    border: none;
    appearance: none;
    transition: all .2s ease-out;
    cursor: pointer;
    z-index: 2;
    background: transparent;
}