.features__item-text {
    @include paragraph-big;
    font-weight: 300;
    padding-top: 50px;
    line-height: 31px;
    color: $secondaryColor;
}

@media screen and (max-width: 400px) {
    .features__item-text {
        @include paragraph-small;
    }
}

@media screen and (max-width: 360px) {
    .features__item-text {
        text-align: center;
        padding-top: 30px;
    }
}