.faq {
    max-width: $containerWidth;
    padding: 223px $sideOffset 0 $sideOffset;
    box-sizing: border-box;
    background: url('../images/faq/question.svg');
    background-repeat: no-repeat;
    background-position: center left;
}