.footer {
    margin: 0 auto;
    max-width: $containerWidth;
    padding: 0 $sideOffset 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1280px) {
    .footer {
        padding: 0 $sideOffsetMedium 75px;
    }
}

@media screen and (max-width: 660px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 560px) {
    .footer {
        padding: 0 $sideOffsetSmall 75px;
    }
}