.old {
    margin: 0 auto;
    max-width: $containerWidth;
    padding: 0 $sideOffset;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 177px 80px 0;
}

@media screen and (max-width: 1280px) {
    .old {
        align-items: flex-start;
        padding: 100px $sideOffsetMedium;
    }
}

@media screen and (max-width: 1200px) {
    .old {
        padding: 100px $sideOffsetMedium 0;
    }
}

@media screen and (max-width: 780px) {
    .old {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 560px) {
    .old {
        padding: 70px $sideOffsetSmall 0;
    }
}