$backgroundColor: #FDFAF7;
$primaryColor: rgba(240, 133, 26, 1);
$secondaryColor: #1D1D1D;

$containerWidth: 1440px;
$sideOffset:80px;
$sideOffsetMedium:60px;
$sideOffsetSmall:30px;

$maxWidth: $containerWidth - $sideOffset * 2;

